body { 
    font-family: Arial, sans-serif;
    background-image: url(assets/alexim.jpg);
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("assets/newback.jpg");
    animation: backanimert 100s infinite alternate;
    background-size: cover;
}


@keyframes backanimert {

    0%{
        background-image: url(assets/land_bc_001.jpg);
    }

    25%{
        background-image: url(assets/land_bc_002.jpg);
    }
    
    50%{
        background-image: url(assets/land_bc_003.jpg);
    }

    75%{
        background-image: url(assets/land_bc_001.jpg);
    }

    100% {
        background-image: url(assets/land_bc_001.jpg);
    }
}

.language_selector {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: max-content;
    position: relative;
    right: 0;
    height: max-content;
    height: 100vh;
}

.language-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 0;
    border: 1px solid #0c1012;
    border-radius: 5px;
    background-color: rgba(211, 211, 211, 0.753);
    border-color: transparent;
    padding: 2em;
    height: auto;
}

.language-list li {
    display: block;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
    padding: 0.3em 0.3em;
    margin-bottom: 0.3em;
    background-color: #ffffff;
    width: 100%;
}

.language-list li:first-child {
    background: none;
   
}


.language-list li a{
    display: block;
    font-family: sans-serif;
    font-size: 22px;
    color: #be1010;
    font-weight:bold; 
    position: relative;
    text-decoration: none;
    padding: 0.5em;
}



.img_above_list{
    width: 15vw;
    height: 30vh;
}

@media screen and (max-width: 850px) {
    .img_above_list{
        width: 9vw;
        height: 20vh;
    }
}

.image-container {
    position: flex; 
    top: 0;
    left: 0;
    max-height: 100%;
}

.automaticwords {
    display: block;
    position: relative;
    right: 11em;
    top: 10em;
    font-size: 35px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px; 
    margin-bottom: 20px; 
    }

    #languageText {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      
      #languageText.fade-in {
        opacity: 20;
      }  
    
    
