body { 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: backanimert 70s infinite alternate;
    background-size: cover;
    background-image: url(assets/alexim.jpg);
}

ul {
    list-style-type: none; 
    padding: 0; 
  }


@keyframes backanimert {

    0%{
        background-image: url(assets/back_t_ed_004.jpg);
    }

    25%{
        background-image: url(assets/back_t_ed_003.jpg);
    } 
    50%{
        background-image: url(assets/back_t_ed_006.jpg);
    } 

    75%{
        background-image: url(assets/back_t_ed_001.jpg);
    } 
    
    100% {
        background-image: url(assets/back_t_ed_007.jpg);
    } 
}

.language_selector {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 0em 2em;
}

.language-list {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid #0c1012;
    border-radius: 5px;
    background-color: rgba(160, 160, 160, 0.793);
    border-color: transparent;
    width: max-content;
    padding: 2.5em;
    height: 100vh;
}

.language-list li {
    display: block;
    border-radius: 5px;
    transition: .3s ease-in-out;
    cursor: pointer;
    margin-bottom: 0.8em;
    background-color: #ffffff;
    padding: 0.9em;
    text-align: center;
}

.language-list li:hover{
    background-color: #d8d8d8;
}

.language-list li:first-child {
    background: none;
    margin-bottom: -2em;
    margin-top: -5em;
}

@media screen and (max-width:824px) {
    .language-list li:first-child {
        background: none;
        margin-bottom: -1em;
        margin-top: -2em;
    }
}

.language-list li a{
    display: block;
    font-family: sans-serif;
    font-size: 15px;
    color: #be1010;
    font-weight:bold; 
    position: relative;
    text-decoration: none;
}


@media screen and (max-width: 850px) {
    .language-list li a{
        display: block;
        font-family: sans-serif;
        font-size: 14px;
        padding: 0.1em;
        color: #be1010;
        font-weight:bold; 
        position: relative;
        text-decoration: none;
    }
}

.img_above_list{
    width: 50%;
    height: 25vh;
}

@media screen and (max-width: 850px) {
    .img_above_list{
        width: 70%;
        height: 20vh;
    }
}

.new_int_9234 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
  }

.image-container {
    display: flex; 
    margin: 3em;
}

#languageText {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    line-height: 0.95em; 
    text-shadow: 0px 0px 6px rgba(11, 10, 10, 0.7);
    text-align: center;
    color: rgba(255, 246, 246, 0.853);
    border-radius: 10px;
    transition: opacity 0.80s ease-in-out; 
}

.languageText-hidden {
    opacity: 0; 
}
      @media screen  and (max-width: 685px){
        #languageText {
            font-size: 30px;
          }
      }
      

      @media screen  and (max-width: 662px){
        #languageText {
            display: none;
          }
      }

      @media screen  and (max-width: 685px){
          .image-container {
            display: flex; 
            margin: 0em;
        }
      }
      
      #languageText.fade-in {
        opacity: 20;
      }  
    
     
    
